body {
    margin: 0;
    font-family: "Segoe UI";
    background: #0d1117;
    color: #e6edf3;
}

.header {
    padding: 15px;
    text-align: center;
    background: #161b22;
    border-bottom: 2px solid orange;
    font-size: 20px;
}

.layout {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    height: 90vh;
}

/* 面板 */
.panel {
    margin: 10px;
    padding: 15px;
    background: #161b22;
    border-radius: 10px;
}

/* 输入 */
input {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    background: #0d1117;
    border: 1px solid #30363d;
    color: white;
}

/* 按钮 */
button {
    width: 100%;
    padding: 10px;
    background: orange;
    border: none;
    font-weight: bold;
}

/* 卡片 */
.card {
    background: #0d1117;
    margin: 10px 0;
    padding: 10px;
    border-left: 4px solid orange;
}

.value {
    font-size: 20px;
    font-weight: bold;
}
